.as-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid transparent;
  width: fit-content;
}

.as-button:hover {
  border-color: #0c2340;
}
.as-button__icon {
  display: none;
}

.as-button__text {
  color: #003466;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

.as-button--min {
  min-width: 280px;
}

@media (max-width: 360px) {
  .as-button__text {
    font-size: 1.4rem;
  }
}
